.educationContent {
  .box {
    width: max-content;
    margin: 0 auto;
  }
  .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .column {
      align-items: center;

      .title {
        padding-bottom: 0;
      }
      ul {
        width: fit-content;
        text-align: left;
        font-size: larger;

        li {
          font-size: medium;
          list-style-type: none;
        }
      }
    }
  }
}
