.home {
  height: 100vh;
  background-image: url(../../assets/img/background.jpg);
  background-size: cover;

  .home-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #030202, $alpha: 0.5);
    z-index: 1;

    .hero-body {
      position: relative;
      height: 100%;
      width: 50%;

      .container {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(0, -50%);

        .title {
          font-size: 3rem;
        }
        .subtitle {
          font-size: 1.5rem;
        }
      }
    }
  }
}
